{{ readFile "../../helmfile.d/common.yaml" }}

repositories:
- name: stakater
  url: https://stakater.github.io/stakater-charts

releases:
- name: config-reloader
  chart: stakater/reloader
{{- if neq .Values.example.version  "" }}
  version: '{{`{{ .StateValues.versionOverrides | get .Release.Name }}`}}'
{{- else }}
  #version: v1.0.2
{{- end }}
  inherit:
  - template: applications-default
